@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@import url(https://fonts.googleapis.com/css?family=Marvel);@import url(https://fonts.googleapis.com/css?family=Lato);/* xs < 576; sm > 576; md > 768; lg > 992; xl > 1200 */

.art-link .art-info {
  width: 100%;
  height: 100px;
  text-decoration: none;
  color: black;
}

.art-wrapper {
  height: 350px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.art-wrapper .art-image {
  position: absolute;
  margin: auto;
}

.art-menu {
  list-style: none;
  padding: 0;
  text-align: center;
}

.art-menu a {
  text-decoration: none;
  color: black;
  outline: none;
}

.art-menu a li {
  display: inline;
  font-size: 25px;
}

.login-buttons {
  float: right;
  text-decoration: none;
  list-style: none;
}

.login-buttons a {
  color: black;
  float: right;
}

.gallery-title {
  text-align: center;
}

.gallery-title h1 {
  font-size: 110px;
}

@media (max-width: 576px) {
  .gallery-title h1 {
    font-size: 70px;
  }
}

.category {
  padding: 10px;
  color: white;
}

.category a {
  float: right;
  cursor: pointer;
  color: white;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

p,
span,
div,
b,
h1,
h2,
h3,
h4,
h5,
ul,
li,
i,
a {
  font-family: 'Lato', sans-serif;
}

button:hover {
  cursor: pointer;
}

.art-float-left {
  float: left;
}

.fs-22 {
  font-size: 22px;
}

.visibility-hidden {
  visibility: hidden;
}

.uppercase {
  text-transform: uppercase;
}

.text-underline {
  text-decoration: underline;
}

.marvel {
  font-family: 'Marvel', sans-serif;
}

