.artist-card
{
    .artist-type
    {
        font-size: 20px;
        letter-spacing: 5px;;
    }

    .artist-description
    {
        .columns
        {
            column-count: 2;
        }
    }
}

.artist-carousel
{
    img
    {
        padding: 8px;
        border: 2px solid #e6e6e6;
        box-shadow: 0 4px 8px 0 #e6e6e6;
        -moz-box-shadow: 0 4px 8px 0 #e6e6e6;
        -webkit-box-shadow: 0 4px 8px 0 #e6e6e6;
    }
}

.slick-previous
{
    position: absolute;
    top: 50%;
    left: 25px;
    z-index: 99;
    color: black;
    font-size: 42px;
}

.slick-nexter
{
    position: absolute;
    top: 50%;
    right: 25px;
    z-index: 99;
    color: black;
    font-size: 42px;
}

@media (max-width: 575.98px)
{
    .artist-card
    {
        .artist-description
        {
            .columns
            {
                column-count: 1;
            }
        }
    }
}