.art-menu
{
  list-style: none;
  padding: 0;
  text-align: center;
}

.art-menu a
{
  text-decoration: none;
  color: black;
  outline: none;
}

.art-menu a li
{
  display: inline;
  font-size: 25px;
  letter-spacing: 4px;
}

.login-buttons
{
  text-decoration: none;
  list-style: none;
  float: right;

  li
  {
    display: inline;
  }

  a
  {
    color: black;
    float: right;
  }

}
